*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: arial,sans-serif;
}
.full{
    width: 100%;
    height: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;

}

.full .device{
    background-image: url("./asset/images/device.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    padding-top: 70%;
 
    position: relative;
}
/* .border{
    border: 1px solid rgb(0, 255, 0);
    width: 500px;
    padding-top: 35%;
     width: 800px;

    top: 32%;
    left:13%; 
    background-image: url("./asset/images/bg.jpg");
    width: 800px;
  
} */
.card{
    height:35%;
    
    width: 80%;
    top: 32%;
    left:13%;
    position: absolute;
    border-radius: 25px;
}
.video{
    height:35%;
    width: 81%;
    top: 32%;
    left:13%;
    position: absolute;
    border-radius: 25px;
    z-index: 2;
    background:url("./asset/images/icon.jpg");
    background-size: cover;
    background-position: center center;
    visibility: hidden;
    
}
.video.show{
    visibility:visible;
}
/* .imageIcon img{
    height:100%;
    width: 100%;
    top: 32%;
    left:13%;
    position: absolute;
    border-radius: 25px;
    z-index: 5;
} */
.video{

   
}
.video .screenVideo{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius:25px;
    opacity: 1;
   
}
.screenVideo.stop{
    opacity: 0;
    z-index: -99;
}
.video .btnNext{
    position: absolute;
    right:0;
    bottom: 0;
    z-index: 3;
    opacity: 0;
    padding: 0px 0px 0px 50px;
    margin: 0px 10px 10px 0px;
    border-radius:5px;
    background:#0079FD;
    color: white;
    cursor: pointer;
    transition:0.4s;
}
.video .btnNext:hover{
    background:#4194ec;
    transition:0.4s;

}
.btnNext .iconify{
    font-size:30px;
   
    
}
.btnNext .next{
    float:left;
    margin-top: 7px;
    
}
@media only screen and (min-width: 600px) {
    
   /*  .video .screenVideo{
        
        width: 100%;
        height: 100%;
      
    } */
    .video {
        top: 45%;
        width: 82%;
        height:52%;
        left:9% !important;
        border-radius:25px !important;
        
    }
    .card{
        top: 45%;
        width: 75%;
        height:51%;
        
    }
    .footer .btnBack{
        width: 80px !important;
        height:20px !important;
        margin-top: 15px;
        padding: 0 !important;
    }
   
    .getMore{
        font-size:10px;
    }

    .bottom .nameBox{
        font-size:12px !important;
    }
    .bottom .timeBox{
        font-size:9px !important;
    }
    .end .btnSearch{
        margin-top:12px;
    }
    .footer .btnBack{
        width: 60px;
        height:20px;
    }
   
}

@media only screen and (max-width: 600px) {
    .video .btnNext{
        margin: 0px 10px 3px 0px !important;
        padding: 5px 0px 0px 20px;
    }
    .btnNext .iconify{
        font-size:10px;
       
        
    }
    .btnNext .next{
        float:left;
        margin-top: 1px;
        font-size: 10px;
        
    }
    .video {
        top: 45%;
        width: 82%;
        height:52%;
        left:9% !important;
        border-radius:25px !important;
        
    }
    .footer .btnBack{
        width: 60px !important;
        height:15px !important;
        margin-top: 20px;
        padding: 0px !important;
        
    }
    .btnBack .back{
        font-size: 10px;
    }
    .btnBack .iconify{
        
    }
    .card{
        top: 45%;
        width: 75%;
        height:51%;
    }
    .bottom{
        
    }
    .bottom .nameBox{
        
        font-size:7px  !important;
    }
    .bottom .timeBox {
        font-size:9px !important;
    }
    .iconCoin,.iconCoin .iconify,.iconG i,.iconG b{
        font-size:12px;
    }
    .iconify,.iconG i{
        width: 14px;
        height: 14px;
    }
    .getMore a{
        font-size: 10px !important;;
    }
    .header{
        padding-bottom:10px !important;
    }

    .end .hundred{
        padding: 2px !important;
        font-size: 12px;
        /* margin-top: 19px; */
        position: relative;
        top: 20px;
       
    }
    .hundred .iconify{
        padding: 1px;
    }
    .end .btnSearch{
        margin-top:15px;
    }
    .container{
       
    }
}
@media only screen and (min-width: 1200px) {
    .video {
        height:35%;
        width: 81%;
        top: 32%;
        left:13% !important;
        border-radius:25px !important;
        
    }
   /*  */
    .footer .btnBack{
        width: 120px !important;
        height:30px !important;
        margin-top: 1px;
       padding-top: 3px !important;
    }
    .end .btnSearch{
        margin-top:15px;
    }
    .card{
        top: 32%;
        width: 81%;
        height:35%;
    }
    .getMore a{
        font-size: 13px !important;;
    }
    .header{
        padding-bottom:20px !important;
    }

    .bottom .nameBox{
        font-size:16px !important;
    }
    .bottom .timeBox{
        font-size:14px !important;
    }
    .end .btnSearch{
        margin-top:5px;
    }
}
.container{
   /*  position: relative; */
    
}
.header,.content,.footer{
    position: absolute;
}
.header{
    width: 100%;

    height:20px;
    border-radius: 25px 25px 0px 0px;
    display: inline-block;
    padding-left: 10px;
    
   
}
.iconCoin .iconify{
   border-radius:50%;
   padding: 1px;
   background-color:#D19E00;
   color:#FFDD6E;
   font-size: 17px;

}
.costCoin{
  
}
.iconG{
    float:left;
    margin-right:5%;
    
}
.iconG i{
   
    border-radius: 50%;
    padding: 1px;
    background:#1F54AF;
    color: #87B8FF;
}
.getMore{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    
}
.getMore a{
    font-size:18px;
  text-decoration: none;
  color:#1475DF;
  font-weight:bold;
}



/* content */
.content{
    width: 50%;
    height: 75%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    top: 15%;
    left: 10%;
    border-radius:25px;
    cursor: pointer;
}
.content .top{
    width: 100%;
    height: 50%;
  
    background-image: url("./asset/images/icons.jpg");
    background-size: cover;
    border-radius:25px 25px 0px 0px;
}
.content .bottom{
    font-family: arial black;
    padding:7px 7px;
  
}
.bottom .nameBox{
    font-size: 16px;
    display:block;
}
.bottom .timeBox{
    margin-top:8px;
    display: block;
    font-size:12px;
    color: #A9A9A9;
    font-weight:normal;
    font-family: normal;
}
.end{
    width: 100%;
    height:50px;
    
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 25px 25px;
    float:left;
    padding: 5px;
}
.end .hundred{
    float:right;
    padding: 8px 17px 8px 17px;
  
    border-radius: 25px;
    background:#B2C5D7;
    cursor: pointer;
    color: #0967CA;
    font-weight: bold;
    transition:0.4s;
    
}
.hundred:hover{
    background:#c9d5e0;
    transition:0.4s;

}
.hundred .price{
  
    padding-bottom: 5px;
}
.hundred .iconify{
    border-radius:50%;
    
    background-color:#D19E00;
    color:#FFDD6E;
    font-size: 15px;

}
.end .btnSearch{
   
    display:inline-block;
    
    font-size: 27px;
    color: #106FC6;
    
}
.btnSearch:hover .iconify{
    font-size:35px;
   transition:0.4s;

}
.btnSearch .iconify{
    cursor: pointer;
   transition:0.4s;
}

/* footer */
.footer{
    bottom: 0;
    width: 100%;
 
    height:35px;
    padding: 0px 13px;
    margin-bottom:0px;
}
.footer .btnBack{
    width: 120px;
    height:30px;
    border-radius: 10px;
    
    padding: 3px 0px;
    background:#1E79E4;
    cursor: pointer;
    transition:0.4s;
}
.btnBack:hover{
    background:#4c93e6;
    transition:0.4s;

}
.btnBack .iconify{
    font-size: 22px;
    float:left;
    font-weight:bold;
    color: #fff;
}
.btnBack .back{
    margin-top:2px;
    float: left;
    font-weight:bold;
    color: #fff;
}
